* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
   width: 1366px;
    
    margin: 0 auto;
}

.slider1 {
    background-image: url(img/slider1-img.jpg);
    height: 800px;
    position: relative;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.menu {
    float: right;
}

.header {
    padding-top: 63px;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    text-transform: uppercase;
    font-family: "Montserrat Light";
    font-weight: 300;
    letter-spacing: 1.4px;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-activ {
    color: #212121;
    font-family: "Montserrat - Bold";
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slider1-text {
    margin-top: 230px;
}

.slider1-trending {
    color: #43a047;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #43a047;
    letter-spacing: 1.8px;
}

.slider1-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
}

.slider1-content {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    text-decoration: none;
    width: 212px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    letter-spacing: 3.6px;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-activ {
    border-radius: 20px;
    background-color: #212121;
    width: 40px;
    height: 40px;
    margin-bottom: 0;
}

.paginaton {
    position: absolute;
    bottom: 19px;
    text-align: center;
    width: 1170px;
}

.menu-back-list {
    list-style-type: none;
    float: left;
    padding-top: 120px;
}

.menu-back-link {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 3px solid #d3d4d4;
    padding: 10px 13px;
}

.menu-back-link-activ {
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
    font-size: 36px;
    font-weight: 700;
    color: #212121;
}

.menu-back-link:hover {
    color: #212121;
}

.menu-back1 {
    float: right;
    padding-right: 97px;
    list-style-type: none;
    padding-top: 138px;
    padding-bottom: 15px;
}

.menu-back1-link {
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    line-height: 24px;
    float: right;
}

.back-link-fishnet {
    background-image: url(img/product/back_bg.svg);
    background-repeat: no-repeat;
    float: left;
    width: 270px;
    height: 270px;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
}

.button1 {
    color: #212121;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 24px;
    background-color: #ffffff;
    text-decoration: none;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    letter-spacing: 3.6px;
    margin-left: 111px;
    margin-top: 62px;
}

.back-link-list {
    display: flex;
    margin-top: 50px;
}

.back-link-list li {
    list-style-type: none;
    float: left;
    padding: 1px 15px;
}

.back-link-list li:hover {
    transform: scale(1.2);
}

.Trending-Products-block:hover {
    transform: scale(1.2);
}

.promo-link1-list li:hover {
    transform: scale(1.2);
}

.promo-button:hover {
    transform: scale(1.2);
}

.button:hover {
    transform: scale(1.2);
}

.Fishnet-Chair {
    text-align: center;
    margin-top: 19px;
    color: #212121;
    font-size: 22px;
    font-weight: 700;
}

.back-link-text {
    text-align: center;
    margin-top: 23px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
}

.promo1 {
    background-image: url(img/product/promo-img1.jpg);
    background-repeat: no-repeat;
    width: 683px;
    height: 683px;
    float: left;
}

.promo2 {
    background-image: url(img/product/promo-img2.jpg);
    background-repeat: no-repeat;
    width: 683px;
    height: 683px;
    float: left;
}

.promo {
    margin-top: 120px;
}

.promo1-exclusive {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding-top: 228px;
    padding-left: 51px;
}

.promo-Fishnet-Chair {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    padding-left: 52px;
    padding-top: 18px;
}

.promo-content {
    padding-left: 50px;
    padding-top: 24px;
    width: 374px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
}

.promo-button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    text-decoration: none;
    width: 212px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    letter-spacing: 3.6px;
    margin-left: 50px;
    margin-top: 34px;
}

.Trending-Products-text {
    text-decoration: none;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.menu-Trending-Products {
    padding-top: 119px;
    padding-left: 98px;
    padding-right: 97px;
}

.Trending-Products-list li {
    list-style-type: none;
    display: inline-block;
    margin: 15px;
}

.slider2 {
    background-image: url(img/slider2.jpg);
    height: 800px;
    position: relative;
    margin-top: 120px;
}

.paginaton-slider2 {
    position: absolute;
    bottom: 19px;
    text-align: center;
    width: 1170px;
}

.slider2-Hot-deal {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e53935;
    letter-spacing: 1.8px;
    padding-top: 287px;
}

.promo-link {
    background-image: url(img/product/promo-link.jpg);
    width: 570px;
    height: 570px;
    margin-top: 120px;
    float: left;
    margin-right: 30px;
}

.Trending-Products-list {
    padding-left: 98px;
}

.promo-link1-list {
    list-style-type: none;
    float: left;
    display: inline-block;
    margin-top: 120px;
    width: 570px;
        
}

.promo-link1-list li {
    list-style-type: none;
    display: inline-block;
}

.promo-link1 {
    padding-right: 15px;
    padding-bottom: 15px;
}

.promo-link2 {
    padding-left: 10px;
    padding-bottom: 15px;
}

.promo-link3 {
    padding-top: 15px;
    padding-right: 15px;
}

.promo-link4 {
    padding-left: 10px;
}

.Trending-Products-block {
    float: left;
    margin: 0px 15px 30px;
}

.Trending-Products {
    padding-left: 98px;
    padding-top: 64px;
}

.slider3 {
    background-image: url(img/slider3.jpg);
    
    height: 516px;
    background-repeat: no-repeat;
}

.slider3-mobileapp {
    color: #6c6c6c;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6c6c6c;
    letter-spacing: 1.8px;
}

.slider3-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    width: 500px;
}

.slider3-content {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    padding-top: 26px;
    padding-bottom: 33px;
}

.slider3-text {
    padding-top: 125px;
    padding-left: 97px;
}

.slider3-link li {
    float: left;
    list-style-type: none;
}

.slider3-link-list {
    padding: 10px;
}

.footer {
    width: 1366px;
    position: relative;
    height: 375px;
     background-image: url(img/footer-back.jpg);
              

    margin: 0 auto;
}

.menu-h2 li {
    list-style-type: none;
    float: left;
}

.menu-h2 li a {
    text-decoration: none;
}

.Contact-content {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    width: 250px;
    padding-top: 24px;
    line-height: 1.5;
}

.Contact-Us {
    margin-left: 97px;
    float: left;
}

.Contact-Us-h2 a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.UsefulInformation-list1 li a {
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    line-height: 1.8
}

.UsefulInformation-list1 {
    list-style-type: none;
    display: flex;
    padding-top: 25px;
}

.Useful-Information {
    position: absolute;
    margin-left: 399px;
    width: 450px;
}

.UsefulInformation-h2 a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.UsefulInformation-list-p2 {
    width: 200px;
    padding-left: 103px;
}

.UsefulInformation-list-p1 {
    width: 137px;
}

.Touch {
    position: absolute;
    margin-left: 899px;
}

.Touch-h2 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    width: 250px;
}

.Touch-p {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    width: 375px;
    line-height: 1.7;
    padding-top: 24px;
    padding-bottom: 40px;
}

.email {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 370px;
    height: 48px;
    border: 1px solid #d9dee1;
    background-color: #ffffff;
    padding-left: 19px;
    background-image: url(img/a.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position: 355px 16px;
}

.footer-link {
    display: flex;
    margin-top: 310px;
    position: absolute;
    width: 1170px;
    padding-bottom: 30px;
   
}

.footer-social-links {
    padding-left: 128px;
    padding-right: 142px;
    color: #6c6c6c;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.6px;
}

.footer-link-copy {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    width: 500px;
    padding-top: 10px;
}
.footer-link-p a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding-top: 10px;
}
.footer-link-p {
    width: 450px;
}
.promo-link-block {
    padding-bottom: 120px;
}

.header-products {
    background-color: #f5f5f5;
    height: 360px;
    padding-top: 63px;
}
.menu-list a {
    text-decoration: none;
}

.header-products-text h2 {
    height: 58px;
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
}

.header-products-text {
        margin-top: 160px;
}
.products-menu {
        padding-left: 105px;
    padding-top: 71px;
}
.products-menu ul li {
    list-style-type: none;
    display: inline-block;
}
.products-menu-link a {
    padding: 10px 13px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #7b7b7b;
    letter-spacing: 1.8px;
    letter-spacing: 1.8px;
    text-decoration: none;
   
    
}
.products-menu-link-activ a {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.products {
    padding-top: 48px;
    padding-left: 98px;
}

.products-link-block {
    float: left;
    padding: 1% 1%;
   
}

.products-repeat {
        text-align: center;
    margin-top: 71px;
    margin-bottom: 140px;
}
.products-menu-link:hover a {
    color: black;
}
.products-link-block:hover {
    transform: scale(1.2);
}
